@use "../index.scss";

.users__content_wrap {
    width: 100%;
    background: #fdfdfd;
    font-family: "Work Sans", sans-serif;
    padding: 40px 64px;
    overflow-x: hidden;
    z-index: 2;

    @include index.devices(xl) {
        padding: 40px 32px;
    }

    @include index.devices(sm) {
        padding: 40px 0px;
    }
}

.users__heading {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: index.$bg-blue;
    margin: 10px 0;

    @include index.devices(sm) {
        padding: 0 16px;
    }
}

.status_section {
    width: 100%;
    margin: 40px 0;
    display: flex;
    gap: 20px;

    & > .status_box_wrap {
        flex: 1;
    }

    @include index.devices(lg) {
        flex-wrap: wrap;

        & > .status_box_wrap {
            flex: 0 0 calc(50% - 10px);
        }
    }

    @include index.devices(sm) {
        padding: 0 16px;

        & > .status_box_wrap {
            flex: 0 0 100%;
        }
    }
}

.table_section {
    padding: 30px;
    background: #FFFFFF;
    border: 1px solid rgba(33, 63, 125, 0.06);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    position: relative;
    overflow-x: hidden;
    z-index: 2;

    & form {
        width: 270px;
        padding: 30px 20px;

        & .btn_row {
            width: 100&;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;

            & .btn_wrap {
                width: 50%;
            }
        }
    }

    & .table__box {
        width: 100%;
        overflow-x: scroll;
        z-index: 2;

        @include index.devices(sm) {
            width: 100%;
        }
    }

    @include index.devices(sm) {
        padding: 20px 10px;
    }
}

.users_table {
    width: 95%;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 1px;

    & thead {
        width: 100%;

        & tr {
            width: 100%;
            
        }
    }

    & > thead > tr > th {
        width: auto;
        text-align: start;

        & > p {
            font-weight: 600;
            font-size: 12px;
            line-height: 14px;
            text-transform: uppercase;
            color: index.$bg-grey;
            display: inline-block;
            vertical-align: top;
            margin-top: 1px;
        }

        & .filter_icon {
            font-size: 14px;
            color: index.$bg-blue;
            display: inline-block;
            margin-left: 5px;
            cursor: pointer;

            &:active {
                transform: scale(0.95);
            }
        }
    }

    & tbody {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: index.$bg-grey;
    }

    @include index.devices(xl) {
        width: 1050px;
    }
}


.users__pagination {
    width: 100%;
    margin: 40px 0;
}