@use "../index.scss";


.modal_box {
    background: #FFFFFF;
    border: 1px solid rgba(84, 95, 125, 0.04);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    transition: 0.1s;
    position: absolute;
    top: 60px;
    right: -20px;
    overflow: hidden;
    z-index: 20;
}

.filter_modal_box {
    background: #FFFFFF;
    border: 1px solid rgba(84, 95, 125, 0.14);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    transition: 0.2s;
    position: absolute;
    top: 75px;
    left: 15px;
    overflow: hidden;
    z-index: 20;
}

.profile_modal_box {
    background: #FFFFFF;
    border: 1px solid rgba(84, 95, 125, 0.14);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    transition: 0.2s;
    position: absolute;
    top: 20px;
    left: -15px;
    overflow: hidden;
    z-index: 20;
}