@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$ff-sen: "Sen", "sans-serif";
$ff-work: "Work Sans", "sans-serif";

$bg-teal: #39CDCC;
$bg-blue: #213F7D;
$bg-grey: #545F7D;
$bg-grey15: #545F7D15;