@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//  GLOBAL VARIABLES

$ff-sen: "Sen", "sans-serif";
$ff-work: "Work Sans", "sans-serif";

$bg-teal: #39CDCC;
$bg-tealDark: #258b8b;
$bg-teal55: #39CDCC55;
$bg-blue: #213F7D;
$bg-blue10: #213F7D10;
$bg-blue20: #213F7D20;
$bg-blue60: #213F7D60;
$bg-grey: #545F7D;
$bg-grey06: #545F7D06;
$bg-grey15: #545F7D15;
$bg-yellow: #E9B200;
$bg-yellow10: #E9B20010;
$bg-green: #39CD62;
$bg-green10: #39CD6210;
$bg-red: #E4033B;
$bg-red10: #E4033B10;

// GLOBAL MIXINS

@mixin devices ($breakpoint) {
  @if $breakpoint == xl {
    @media only screen and (max-width: 1439.99px) {
      @content;
    }
  }
  @if $breakpoint == lg {
    @media only screen and (max-width: 1199.99px) {
      @content;
    }
  }
  @if $breakpoint == md {
    @media only screen and (max-width: 991.99px) {
      @content;
    }
  }
  @if $breakpoint == sm {
    @media only screen and (max-width: 767.99px) {
      @content;
    }
  }
  @if $breakpoint == mobile {
    @media only screen and (max-width: 464.99px) {
      @content;
    }
  }
}