@use "../index.scss";

.page__body {
    width: 100%;
    min-height: 100vh;
    background: #FFFFFF;
    font-family: index.$ff-work;
    font-size: 16px;
    line-height: 19px;
    color: index.$bg-blue;
    overflow: hidden;
}

.page__header {
    width: 100%;
    padding: 40px 64px 40px 30px;
    box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);

    & .page__header_wrap {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    & .menu_btn {
        background: #FFFFFF;
        padding: 5px;
        outline: none;
        border: none;
        border-radius: 5px;
        z-index: 99;

        &:hover {
            background: index.$bg-grey06;
        }

        & .menu_icon {
            color: index.$bg-blue;
            font-size: 30px;
        }

        & .menu_close_icon {
            color: index.$bg-red;
            font-size: 30px;
        }
    }

    @include index.devices(xl) {
        padding: 35px 32px 35px 30px;
    }

    @include index.devices(sm) {
        padding: 35px 16px 35px 16px;
    }
}

.mobile_menu {
    width: 350px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #FFFFFF;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
    transition: 0.2s;
    z-index: 90;
    padding: 45px 0;
    overflow-y: scroll;
    transform: translateX(-350px);

    & .page__logo_wrap {
        margin: 0 0 30px 16px;
    }

    & form {
        width: 95%;
        margin: 20px auto;
    }

    & .page__right_group {
        display: flex;
        float: left;
        margin: 20px 0 30px 16px;
    }

    @include index.devices(md) {
        & form {
            display: none;
        }
    }

    @include index.devices(sm) {
        width: 100vw;
        transform: translateX(-100vw);

        & form {
            display: flex;
        }
    }
}

.mobile_menu.menu_active {
    transform: translateX(0);
}



.page__logo_wrap {
    display: flex;
    align-items: flex-start;
    gap: 8px;

    & > .page__logo {
        aspect-ratio: 1;
        width: 20px;
        // margin-top: 2px;
    }

    & > .page__logotext {
        height: 25px;
    }
}

.search_form {
    width: 400px;

    & > .search_form__wrap {
        width: 100%;
        display: flex;
        align-items: center;

        & > .search__input_wrap {
            flex: 1;
        }

        & > .search__btn_wrap {
            width: 56px;
            height: 40px;

            & .search_icon {
                font-size: 20px;
                color: #FFFFFF;
            }
        }
    }

    @include index.devices(sm) {
        display: none;
    }
}

.page__right_group {
    display: flex;
    align-items: center;

    & .page__docs {
        text-decoration: underline;
        color: index.$bg-blue;
    
        & > p {
            font-weight: 400;
        }
    }

    & .page__notification {
        text-decoration: none;
        margin-left: 40px;
    
        & .page__notification_icon {
            font-size: 32px;
            color: index.$bg-blue;
        }
    }

    & .page__user_img {
        width: 48px;
        aspect-ratio: 1;
        border-radius: 50%;
        margin-left: 30px;
    }
    
    & .page__dropdown {
        display: flex;
        gap: 5px;
        align-items: center;
        margin-left: 15px;
        position: relative;
    
        &:hover {
            border: 1px solid index.$bg-grey06;
        }
    
        & p {
            font-weight: 500;
        }
    
        & .page__dropdown_icon {
            font-size: 15px;
            margin-top: 2px;
            color: index.$bg-blue;
        }
    
        & .modal_wrap {
            width: 140px;
            background: #FFFFFF;
            display: flex;
            flex-direction: column;

            & .profile_link {
                text-decoration: none;
            }
        
            & .user_modal_button {
                width: 100%;
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 10px 20px;
                background: #FFFFFF;
                outline: none;
                border: none;
    
                &:hover {
                    background: index.$bg-grey15;
                }
        
                &:disabled {
                    opacity: 0.4;
                }
        
                & .user_modal_img {
                    width: 14px;
                }
        
                & p {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 16px;
                    color: index.$bg-grey;
                }
            }
        }
    }

    @include index.devices(md) {
        display: none;
    }
}

.page__main {
    width: 100%;
    display: flex;
    align-items: flex-start;

    & .page__sidenav {
        width: 280px;
        height: 100%;
        background: #FFFFFF;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
    }
    
    & .page__content_wrap {
        width: calc(100% - 280px);
    }

    @include index.devices(md) {
        & .page__sidenav {
            display: none;
        }

        & .page__content_wrap {
            width: 100%;
        }
    }
}